<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="close()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row class="logo">
        <ion-col size="12" class="ion-align-self-center">
            <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-row class="form">
        <ion-col class="text" size="12">
            <h4>Vous avez oublié votre mot de pass ?</h4>
            <p>Veuillez entre l'adresse de votre e-mail</p>
        </ion-col>
        <ion-col size="12">
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" [(ngModel)]="emailer"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-button expand="full" class="btnLogin" (click)="loginForm()">Envoyer</ion-button>
        </ion-col>
    </ion-row>
</ion-content>