ion-header {
    ion-icon {
        font-size: xx-large;
    }
}

.logo {
    ion-col {
        text-align: center;
        ion-icon {
            padding: 10%;
            font-size: 4rem;
            border-radius: 50%;
            background: #ffe6e4;
        }
        .inner-scroll {
            color: linear-gradient(to right, #ffab00, #ff8921, #ff653a, #fd404f, #eb1264) !important;
        }
    }
}

.form {
    .text {
        padding: 15% 2%;
        h4 {
            text-align: center;
        }
    }
}