<footer>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="homeJson">
                <ion-icon src="/assets/icon/icon-actu.svg"></ion-icon>
                <ion-label>Actu.</ion-label>
                <ion-badge>10</ion-badge>
            </ion-tab-button>

            <ion-tab-button tab="videos">
                <ion-icon src='/assets/icon/icon-video.svg'></ion-icon>
                <ion-label>Videos</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="search">
                <ion-icon src='/assets/icon/icon-recherche.svg'></ion-icon>
                <ion-label>Recherche</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="home">
                <ion-icon src="/assets/icon/icon-compte.svg"></ion-icon>
                <ion-label>Compte</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</footer>